
.montasio-img{
    background-image: url(../img/items/cheese/Montasio/Montasio1.JPG);
  }
  .asiago-img{
    background-image: url(../img/items/cheese/Asiago/asiago.JPG);
  }
  .gorgonzola-img{
    background-image: url(../img/items/cheese/Gorgonzola/Gorgonzola.JPG);
  }
  .scamorza-img{
    background-image: url(../img/items/cheese/Scamorza/Scamorza.JPG);
  }
  .caciotta-img{
    background-image: url(../img/items/cheese/Caciotta/Caciotta.JPG);
  }
  .caciottaConTartufo-img{
    background-image: url(../img/items/cheese/CaciottaConTartufo/CaciottaConTartufo.JPG);
  }
  .CaciottaConPepe-img{
    background-image: url(../img/items/cheese/CaciottaConPepe/CaciottaConPepe.JPG);
  }
  .CaciottaConPeperoncino-img{
    background-image: url(../img/items/cheese/CaciottaConPeperonico/CaciottaConPepe1.JPG);
  }
  .mozzarella-img{
    background-image: url(../img/items/cheese/Mozzarella/Mozzarella.JPG);
  }
  .stracciatella-img{
    background-image: url(../img/items/cheese/Stracciatella/Stracciatella.JPG);
  }
  .burrata-img{
    background-image: url(../img/items/cheese/Burrata/Burrata.JPG);
  }